.Search {
    width: 200px;
    margin-right: 10%;
    padding-bottom: 3vw;
}

.Search select {
    width: 100px;
    height: 50px;
}

/* Smaller screens */
@media (max-width: 1200px) {
    .Search {
        width: 100%;
        flex-direction: column;
    }
}